@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-background: #101011;
    --color-light: #1a1a1a;
    --color-hover: #1a1d29;
    --color-lines: rgba(128, 128, 128, 0.5);
    --color-text: white;
}

body {
    background-color: #101011;
}

/* For toast */
@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
}

.animate-slide-out {
    animation: slide-out 0.3s ease-in forwards;
}